.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  background-color: blue;
  color: white;
  position: fixed;
  width: 96%;
  top: 0;
  z-index: 5;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.links {
  display: flex;
}

.navlink {
  list-style: none;
  margin: 0 1rem;
}

.navlink a {
  text-decoration: none;
  color: white;
  padding: 0.5rem 1rem;
  border: 1px solid transparent;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.navlink a:hover {
  background-color: rgba(255, 255, 255, 0);
}
.btn{
  background-color: rgba(255, 255, 255, 0);
}